<p-card
  styleClass="shadow-5"
  [style]="{ width: '25rem', 'text-align': 'center' }"
>
  <!-- Header -->
  <ng-template pTemplate="header">
    <i class="pi pi-check-circle"></i>
    <p class="title">Uploaded Successfully!</p>
  </ng-template>
  <!-- Content -->
  <img [src]="image" alt="" srcset="" />
  <!-- Footer -->
  <ng-template pTemplate="footer">
    <div class="p-inputgroup">
      <input type="text" pInputText [placeholder]="image" p-disabled />
      <button
        type="button"
        pButton
        (click)="copyLink()"
        pTooltip="Copied!"
        tooltipPosition="top"
        tooltipEvent="focus"
        [life]="1500"
      >
        Copy Link
      </button>
    </div>
  </ng-template>
</p-card>
