<div class="theme-btn-div">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-upload"
    class="p-button-rounded p-button-primary mr-2"
    (click)="backToUploader()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    [icon]="currentTheme.icon"
    class="p-button-rounded p-button-secondary"
    (click)="changeTheme()"
  ></button>
</div>
<div class="container">
  <div class="" id="inner-box">
    <app-uploader
      *ngIf="showUploader"
      (sendFile)="uploadFile($event)"
    ></app-uploader>
    <app-loader *ngIf="showLoading"></app-loader>
    <app-card-image
      *ngIf="!showUploader && !showLoading"
      [image]="image"
    ></app-card-image>
  </div>
</div>
